.form-container {
  color: #fff;
  display: flex;
  margin: auto;
  justify-content: center;
  min-width: 600px;
  max-width: 1400px;
}

.add-article-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 50%;
}

.add-article-title,
.add-article-description {
  margin: 10px 0;
}

h1 {
  margin: 20px auto;
  text-transform: uppercase;
}

.add-article-title input,
textarea {
  width: 100%;
  margin-top: 5px;
  height: 3rem;
  padding: 1rem;
  border-radius: 3%;
  background-color: rgba(255, 255, 255, 0.06);
  color: #fff;
  border: none;
  font-size: 1.35rem;
  letter-spacing: 2px;
}

label {
  font-size: 1.3rem;
  font-weight: bold;
}

#add-article-btn {
  width: 50%;
  margin: auto;
}