:root {
  --container-width: fit-content;
  --container-padding: 2rem;
}

.articles-container {
  display: flex;
  flex-direction: column;
  margin: 100px auto auto 10%;
  width: var(--container-width);
  padding: var(--container-padding);
}

.articles-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 0 auto 125px auto;
}

/* Small screen */
@media only screen and (max-width: 600px) {
  .articles-header {
    width: 250px;
  }
}
