@import url('https://fonts.googleapis.com/css?family=Goldman:700|Goldman:400');

a {
  text-decoration: none;
  color: #ffffff;
}

div[class^='article-'] {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin: 0 auto 200px;
  transition-duration: 0.5s;
  z-index: 99999;
  font-family: 'Goldman';
  font-weight: 400;
}

div[class^='article-']:last-child {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin: 0 auto 100px;
  transition-duration: 0.5s;
  z-index: 99999;
}

div[class^='article-']:hover .double-arrow-svg {
  animation: doubleArrow 1.3s infinite;
  z-index: 0;
}

div[class^='article-']:hover .avatar {
  box-shadow: 8px -5px rgba(46, 111, 201, 0.1);
}

.title-bar-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 75px;
  font-size: 1rem;
  border-top-style: solid;
  border-top-right-radius: 15%;
  border-left-style: solid;
  border-width: 5px;
  border-color: var(--article-background-color);
}

.title-bar-container .avatar {
  position: absolute;
  height: 75px;
  width: 75px;
  bottom: 2rem;
  /* right: calc(50% - 2rem); */
  left: -15px;
  border-radius: 10%;
  overflow: hidden;
  transition-duration: 0.5s;
  border: 3px solid var(--article-background-color);
}

.title-bar-container .avatar img {
  height: 70px;
  width: 70px;
}

.title-bar-container .title {
  height: 75px;
  width: 225px;
  padding: 0.2em 0.4em;
  font-size: 1.1rem;
  justify-content: left;
}

.title-bar-container a {
  height: 75px;
}

.title-bar-container .created-at {
  text-align: end;
  width: 40%;
  font-size: 1em;
  padding: 1em;
  letter-spacing: 0.1ch;
}

div[class^='article-'] .description {
  display: flex;
  position: relative;
  font-size: 0.85rem;
  letter-spacing: 0.02rem;
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 1em;
  background-color: var(--article-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
  cursor: pointer;
}

div[class^='article-'] .description p {
  overflow: hidden;
  text-overflow: ellipsis;
}

div[class^='article-'] .description p:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent 240px, var(--article-background-color));
}

.move-left {
  transform: translateX(-100%);
}

.show {
  display: block;
}

.double-arrow-svg {
  transition: 0.5s;
  position: absolute;
  right: 0;
  top: calc(50% - 2.5rem);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease;
}

@keyframes doubleArrow {
  0% {
    opacity: 10%;
    transform: translateX(0);
  }
  60% {
    opacity: 90%;
  }
  100% {
    opacity: 0%;
    transform: translateX(3rem);
  }
}

.social {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  align-items: center;
  font-size: 1.5rem;
}

/* Small screen */
@media only screen and (max-width: 600px) {
  div[class^='article-'] {
    width: 250px;
  }

  div[class^='article-']:last-child {
    width: 250px;
  }

  .title-bar-container {
    height: 75px;
    font-size: 0.8rem;
  }

  div[class^='article-'] .description {
    cursor: default;
  }

  .title-bar-container .title {
    height: 75px;
    width: 150px;
    padding: 0.2em 0;
    font-size: 1rem;
    justify-content: left;
  }
}
