body {
  color: #fff;
}

.home-container {
  display: flex;
  height: 100%;
  width: var(--container-width);
  padding: var(--container-padding);
  margin: auto 150px;
}

.best-articles-container {
  align-items: center;
}

.feature-list {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  font-size: 2ch;
}

.feature-list p {
  margin-top: 50px;
  font-size: 2ch;
}

.feature-list li {
  margin-top: 50px;
  font-size: 2ch;
}
