.profile-container {
  display: flex;
  justify-content: center;
}

#profile-upload-box {
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
}

.profile-form {
  position: absolute;
  width: 90%;
  max-width: 500px;
  min-width: 380px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 8% 6%;
  }
}

.profile-form .input-box {
  margin-top: 0;
  margin-left: 50px;
}

.profile-form .input-box span {
  position: absolute;
  font-size: 30px;
  color: white;
}

.profile-form .input-box input::placeholder {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.profile-form .input-box #black::placeholder {
  color: black;
}

input[type='file'] {
  display: none;
}

#upload-input {
  width: 180px;
  padding: 5px 20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: #45f3ff;
  color: #28292d;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

#upload-input:hover {
  color: #00c4e6;
}

#upload-btn {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: #45f3ff;
  color: #28292d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

#upload-btn:hover {
  color: #00c4e6;
}

.submit-btn {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: #45f3ff;
  color: #28292d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.submit-btn:hover {
  color: #00c4e6;
}

.submit-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(0, 196, 230, 0.2) 45%,
    transparent 45%,
    transparent 55%,
    rgba(0, 196, 230, 0.2) 55%
  );
  background-size: 200% 200%;
  animation: rotateGradient 1.5s linear infinite;
}
@keyframes rotateGradient {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.form-error {
  color: red;
  font-weight: bold;
}
