/* .box-register {
  position: relative;
  margin: auto;
  margin-top: calc(50vh - 250px);
  width: 380px;
  height: 480px;
  background-color: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
} */
