.likes-container {
  display: flex;
}

.likes-container svg {
  position: relative;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.liked {
  fill: #ffffff;
}

.not-liked {
  fill: #9a9a9e;
}

.likes-counter {
  position: relative;
  font-size: 1ch;
}
